@page
@model BulkyWebRazor_Temp.Pages.Categories.DeleteModel
@{
}

<form method="post">
    <input asp-for="Category.Id" hidden />
    <div class="row pt-4 pb-2">
        <h2>Delete Category</h2>
        <hr />
    </div>
    <div class="row mb-3 p-1">
        <label asp-for="Category.Name" class="p-0"></label>
        <input asp-for="Category.Name" class="form-control" disabled/>
    </div>
    <div class="row mb-3 p-1">
        <label asp-for="Category.DisplayOrder" class="p-0">Display Order</label>
        <input asp-for="Category.DisplayOrder" class="form-control" disabled/>
    </div>
    <div class="row">
        <div class="col-6 col-md-4">
            <button 
                type="submit"
                class="btn btn-danger border form-control"
                asp-page="/categories/delete"
            >
                Delete
            </button>
        </div>
        <div class="col-6 col-md-4">
            <a 
                class="btn btn-outline-primary form-control" 
                asp-page="/categories/index"
            >
                Back to list
            </a>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}